
.container {
  display: grid;
  grid-template-columns: 350px 1fr 1fr;
  grid-template-rows: 70px 1fr 1fr;
}

.header1{
    background-color: grey;
    grid-column: 2/4;
    grid-row: 1/2;
}

.roxy {
    width: 50px;
}